@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased dark:bg-slate-950 dark:text-slate-50;
    font-feature-settings: "rlvr" 1, "cv02" 1, "cv03" 1, "cv04" 1;
  }
}

/* Custom Print Styles for Thermal Receipts & Labels (58mm & 80mm) */
@media print {
  body * {
    visibility: hidden;
  }
  
  #printable-receipt, #printable-receipt * {
    visibility: visible;
  }

  #printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Courier New', Courier, monospace !important;
    color: #000 !important;
    background: #fff !important;
  }

  @page {
    margin: 0;
    size: auto;
  }
}
